@{
    Layout = "~/Views/Shared/BootStrap/_LayoutBS.cshtml";
    ViewBag.Title = "按钮组";
}

<div class="btn-group">
    <button type="button" class="btn btn-default">按钮 1</button>
    <button type="button" class="btn btn-default">按钮 2</button>
    <button type="button" class="btn btn-default">按钮 3</button>
</div>
